 

h1 {
    font-family: 'Faster One', cursive;
}

body {
    text-align: center;
    background: linear-gradient(90deg, rgba(212,255,9,1) 0%, rgba(246,186,87,1) 18%, rgba(94,0,255,0.9051995798319328) 100%);
}
 
 


 